{% extends "base.html" %}


{% block content %}
<div class="block">
    <form action="#" method="POST">
        <h>Login</h>
        <p><input type="email" placeholder="email" name="email" /></p>
        <p><input type="password" placeholder="password" name="password" /></p>
        <p><input type="submit" /></p>
        <a class="nav-link" aria-disabled="true" href="{{ url_for('signup') }}">Sign Up</a>
    </form>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}

